.footer {
  width: 100%;
  height: auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.85);
}
.footer .main-footer {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  padding: 34px 0px 42px 0px;
}
.footer .main-footer .footer-logo {
  max-width: 217px;
  height: auto;
  object-fit: cover;
}
.footer .main-footer .footer-description {
  margin-top: 14px;
  max-width: 856px;
  margin: 14px auto 16px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
.footer .main-footer .contact {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}
.footer .main-footer .contact .website, .footer .main-footer .contact .email {
  margin: 0;
  padding: 0;
}

.how-to-do {
  width: 100%;
  height: auto;
  padding: 112px 0px 92px;
  background: #0F172A;
}
.how-to-do .title-wrapper .to-do-title {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  margin-right: 16px;
}
@media only screen and (max-width: 991px) {
  .how-to-do .title-wrapper .to-do-title {
    font-size: 28px;
  }
}
.how-to-do .title-wrapper .dash {
  width: 35px;
  height: 6px;
  border: none;
  background-color: #F91E4E;
  margin-left: 16px;
}
.how-to-do .list-todo {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 45px 0px 64px;
}
.how-to-do .list-todo .todo-item {
  width: 25%;
  height: auto;
  padding-right: 10px;
  transition: all 1.5s ease-in-out;
}
.how-to-do .list-todo .todo-item:nth-child(2) {
  opacity: 0;
  transition-delay: 0.5s;
}
.how-to-do .list-todo .todo-item:nth-child(3) {
  opacity: 0;
  transition-delay: 1s;
}
.how-to-do .list-todo .todo-item:nth-child(4) {
  padding-right: 0;
  opacity: 0;
  transition-delay: 2s;
}
.how-to-do .list-todo .todo-item .todo-title {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.how-to-do .list-todo .todo-item .todo-title .number {
  min-width: 52px;
  max-width: 52px;
  min-height: 52px;
  max-height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #F91E4E;
  margin-right: 12px;
  border: 1px solid #F91E4E;
  border-radius: 50%;
}
@media only screen and (max-width: 991px) {
  .how-to-do .list-todo .todo-item .todo-title .number {
    min-width: 48px;
    max-width: 48px;
    min-height: 48px;
    max-height: 48px;
  }
}
.how-to-do .list-todo .todo-item .todo-title .arrow {
  flex-grow: 1;
  object-fit: cover;
}
@media only screen and (max-width: 991px) {
  .how-to-do .list-todo .todo-item .todo-title .arrow {
    display: none;
  }
}
@media only screen and (max-width: 991px) {
  .how-to-do .list-todo .todo-item .todo-title {
    width: fit-content;
    margin-bottom: 0;
    display: inline-block;
  }
}
.how-to-do .list-todo .todo-item .todo-content .label {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #FFFFFF;
  margin-bottom: 12px;
  max-width: 218px;
}
@media only screen and (max-width: 991px) {
  .how-to-do .list-todo .todo-item .todo-content .label {
    font-size: 18px;
    line-height: 27px;
    max-width: 269px;
  }
}
.how-to-do .list-todo .todo-item .todo-content .description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  max-width: 282px;
  color: rgba(160, 174, 192, 0.7);
}
@media only screen and (max-width: 991px) {
  .how-to-do .list-todo .todo-item .todo-content {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
}
.how-to-do .list-todo .todo-item .list-contact {
  width: 100%;
  height: auto;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 16px;
}
.how-to-do .list-todo .todo-item .list-contact .contact-item {
  margin-right: 16px;
}
.how-to-do .list-todo .todo-item .list-contact .contact-item:last-child {
  margin-right: 0;
}
.how-to-do .list-todo .todo-item:last-child .arrow {
  display: none;
}
@media only screen and (max-width: 991px) {
  .how-to-do .list-todo .todo-item {
    width: 100%;
    padding-right: 0;
    margin-bottom: 30px;
    display: flex;
  }
  .how-to-do .list-todo .todo-item:last-child {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 991px) {
  .how-to-do .list-todo {
    margin-top: 24px;
  }
}
.how-to-do .todo-control {
  display: flex;
  justify-content: center;
}
.how-to-do .todo-control button {
  background: #F91E4E;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  padding: 11px 54px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;
}
.how-to-do .todo-control button:focus {
  outline: none;
}
@media only screen and (max-width: 991px) {
  .how-to-do .todo-control {
    display: none;
  }
}
@media only screen and (max-width: 991px) {
  .how-to-do {
    padding: 60px 0px 50px;
  }
}

.reveal {
  position: relative;
  transition: 1s all ease-in-out;
}

.reveal.active .todo-item:nth-child(2) {
  opacity: 1;
}
.reveal.active .todo-item:nth-child(3) {
  opacity: 1;
}
.reveal.active .todo-item:nth-child(4) {
  opacity: 1;
}

.register-block {
  background: linear-gradient(107.91deg, #451A59 22.88%, #1A2746 67.74%, #7F283B 100%);
  padding: 105px 0px 101px;
}
.register-block .title-wrapper {
  margin-bottom: 16px;
}
.register-block .title-wrapper .register-title {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  margin-right: 16px;
}
@media only screen and (max-width: 991px) {
  .register-block .title-wrapper .register-title {
    font-size: 28px;
    line-height: 42px;
    max-width: 343px;
  }
}
.register-block .title-wrapper .dash {
  display: inline-block;
  width: 35px;
  height: 6px;
  border: none;
  background-color: #F91E4E;
  margin-left: 16px;
}
@media only screen and (max-width: 991px) {
  .register-block .title-wrapper .dash {
    margin-left: 0;
  }
}
@media only screen and (max-width: 991px) {
  .register-block .title-wrapper {
    margin-bottom: 12px;
  }
}
.register-block .register-description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
  margin-bottom: 32px;
}
@media only screen and (max-width: 991px) {
  .register-block .register-description {
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 24px;
  }
}
.register-block .register-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.register-block .register-form .form-line {
  width: 100%;
  display: flex;
  margin-bottom: 16px;
  flex-wrap: wrap;
}
.register-block .register-form .form-line .form-item {
  cursor: pointer;
  width: 50%;
  max-width: 512px;
  margin-right: 36px;
}
.register-block .register-form .form-line .form-item label {
  display: block;
  margin-bottom: 8px;
  cursor: pointer;
}
.register-block .register-form .form-line .form-item label span {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
.register-block .register-form .form-line .form-item label .required {
  color: #F91E4E;
}
.register-block .register-form .form-line .form-item input {
  cursor: pointer;
  width: 100%;
  max-width: 510px;
  padding: 10px 16px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  border: none;
  outline: none;
  margin-top: 8px;
}
.register-block .register-form .form-line .form-item input:focus {
  outline: none;
}
.register-block .register-form .form-line .form-item input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
@media only screen and (max-width: 991px) {
  .register-block .register-form .form-line .form-item {
    width: 100%;
    margin-right: 0;
    max-width: 100%;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 991px) {
  .register-block .register-form .form-line {
    margin-bottom: 0;
  }
}
.register-block .register-form .promotion-block {
  width: 100%;
  height: auto;
  margin-top: 48px;
}
.register-block .register-form .promotion-block .form-line .form-item {
  display: block;
  width: 100%;
  max-width: 100%;
}
.register-block .register-form .promotion-block .form-line .form-item input {
  max-width: 1056px;
}
@media only screen and (max-width: 991px) {
  .register-block .register-form .promotion-block {
    display: none;
  }
}
.register-block .register-form .btn-sign-up {
  background: #F91E4E;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  padding: 10px 80px;
  min-width: 228px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 39px;
}
.register-block .register-form .btn-sign-up:focus {
  outline: none;
}
@media only screen and (max-width: 991px) {
  .register-block {
    padding: 48px 0px 58px;
  }
}

.faq-block {
  width: 100%;
  background-color: #0F172A;
  padding: 104px 0px 101px;
}
.faq-block .title-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.faq-block .title-wrapper .faq-title {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: #FFFFFF;
  margin-right: 16px;
}
@media only screen and (max-width: 991px) {
  .faq-block .title-wrapper .faq-title {
    font-size: 28px;
    line-height: 42px;
  }
}
.faq-block .title-wrapper .dash {
  width: 35px;
  height: 6px;
  border: none;
  background-color: #F91E4E;
}
.faq-block .faq-wrapper {
  display: flex;
  width: 100%;
  height: auto;
}
.faq-block .faq-wrapper .faq-content {
  width: 100%;
  max-width: 800px;
}
.faq-block .faq-wrapper .faq-content .list-problem .problem-item .collapsible {
  background-color: #0F172A;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px 12px 0px;
  border: none;
  border-bottom: 1px solid rgba(237, 242, 247, 0.1);
}
.faq-block .faq-wrapper .faq-content .list-problem .problem-item .collapsible .collapse-title {
  display: flex;
  align-items: center;
}
.faq-block .faq-wrapper .faq-content .list-problem .problem-item .collapsible .collapse-title .number {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 54px;
  color: #E2E8F0;
  margin-right: 22px;
}
@media only screen and (max-width: 991px) {
  .faq-block .faq-wrapper .faq-content .list-problem .problem-item .collapsible .collapse-title .number {
    font-weight: 400;
    font-size: 24px;
    margin-right: 19px;
  }
}
.faq-block .faq-wrapper .faq-content .list-problem .problem-item .collapsible .collapse-title .title {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
  max-width: 670px;
}
@media only screen and (max-width: 991px) {
  .faq-block .faq-wrapper .faq-content .list-problem .problem-item .collapsible .collapse-title .title {
    line-height: 24px;
    max-width: 100%;
    font-size: 16px;
    line-height: 24px;
  }
}
.faq-block .faq-wrapper .faq-content .list-problem .problem-item .collapsible .icon-arrow {
  display: block;
  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px;
}
@media only screen and (max-width: 767px) {
  .faq-block .faq-wrapper .faq-content .list-problem .problem-item .collapsible .icon-arrow {
    display: inline-block;
    margin-left: 19px;
  }
}
.faq-block .faq-wrapper .faq-content .list-problem .problem-item .collapsible .collapse-icon .icon-arrow-up {
  display: none;
}
@media only screen and (max-width: 991px) {
  .faq-block .faq-wrapper .faq-content .list-problem .problem-item .collapsible {
    padding: 16px 0px;
  }
}
.faq-block .faq-wrapper .faq-content .list-problem .problem-item .active {
  border: none;
  padding-bottom: 0;
}
.faq-block .faq-wrapper .faq-content .list-problem .problem-item .problem-content {
  max-height: 0;
  overflow: hidden;
  max-width: 695px;
}
.faq-block .faq-wrapper .faq-content .list-problem .problem-item .problem-content p {
  padding: 16px 40px 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #fff;
}
@media only screen and (max-width: 991px) {
  .faq-block .faq-wrapper .faq-content .list-problem .problem-item .problem-content p {
    padding: 8px 32px 16px;
    font-size: 16px;
    line-height: 20px;
  }
}
@media only screen and (max-width: 991px) {
  .faq-block .faq-wrapper .faq-content {
    max-width: 100%;
  }
}
.faq-block .faq-wrapper .image-faq {
  flex-grow: 1;
  display: block;
  max-width: 486px;
  max-height: 486px;
  object-fit: cover;
  height: auto;
}
@media only screen and (max-width: 991px) {
  .faq-block .faq-wrapper .image-faq {
    display: none;
  }
}
@media only screen and (max-width: 991px) {
  .faq-block {
    padding: 44px 0px 60px;
  }
}

#exampleModal .modal-content {
  background: #1A202C;
  border-radius: 24px;
}
#exampleModal .modal-content .modal-header {
  border: none;
  color: #fff;
  justify-content: flex-end;
  padding: 10px 20px 0px 0px;
}
#exampleModal .modal-content .modal-header img {
  cursor: pointer;
}
#exampleModal .modal-content .modal-body {
  color: #fff;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
#exampleModal .modal-content .modal-body img {
  width: 15%;
  margin-bottom: 18px;
}
#exampleModal .modal-content .modal-body h5 {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}
#exampleModal .modal-content .modal-body p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #718096;
}

/*# sourceMappingURL=main-2.css.map */
