@charset "utf-8";
@import "variables";
@import "mixins";

/* -----------------------------------------------------------
	.con-benefit
----------------------------------------------------------- */

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}

@mixin button {
	font-size: 18px;
	color: #fff;
	background: $primary;
	font-weight: 600;
	padding: 15px 30px;
	border-radius: 8px;
}

@mixin style-font($size, $color, $weight) {
		font-size: $size;
		color: $color;
		font-weight: $weight;
}

.block-affilate {
	padding: 85px 0px;
	background-color: $bg_primary;
	display: flex;
	align-items: center;

	@include mq(max_xs) {
		padding: 40px 0px;
	}
	.item-block1 {
		align-items: center;
		position: relative;
		background: url('../images/bg-block1-img.png') no-repeat;
		background-position: right;
		background-size: contain;
		@include mq(max_md) {
			background: $bg_primary;
		}
	}
	.block1-left {
		h4 {
			@include style-font(56px, #fff, 400);
			line-height: 84px;
			@include mq(max_xs) {
				@include style-font(28px, #fff, 400);
				line-height: 42px;
			}
			span {
				@include style-font(56px, $primary, 700);
				text-decoration: underline;
				@include mq(max_xs) {
					@include style-font(28px, $primary, 700);
					line-height: 42px;
				}
			}
		}
		p {
			@include style-font(18px, #fff, 400);
			margin: 40px 0px 35px;
			@include mq(max_xs) {
				@include style-font(14px, #fff, 400);
				line-height: 21px;
				margin: 10px 0px 30px;
			}
			span {
				@include style-font(18px, $primary, 700);
				@include mq(max_xs) {
					@include style-font(14px, $primary, 700);
				}
			}
		}
		ul {
			list-style: none;
			padding-left: 0px;
			margin-bottom: 50px;
			@include mq(max_md) {
				display: none;
			}
			li {
				@include style-font(18px,#fff,400);
				line-height: 27px;
				padding-left: 36px;
				margin-bottom: 25px;
				position: relative;
				&::before {
					content: "";
					background: url('../images/tick-item1.png') no-repeat;
					position: absolute;
					top: 1px;
					left: 0;
					display: block;
					width: 24px;
					height: 24px;
				}
			}
		}
		a.btn-register {
			text-decoration: none;
			@include button;
		}
	}
	.block-upto {
		width: 184px;
    height: 184px;
    background: $primary;
    border-radius: 1000px;
    text-align: center;
    padding: 20px 30px;
		position: absolute;
		right: 0px;
		top: -40px;
		-webkit-animation: flickerAnimation 1s infinite;
		-moz-animation: flickerAnimation 1s infinite;
		-o-animation: flickerAnimation 1s infinite;
		 animation: flickerAnimation 1s infinite;
		h5 {
			@include style-font(16px,#fff,400);
			line-height: 24px;
			span {
				@include style-font(48px,#fff,600);
				line-height: 72px;
				display: block;
			}
		}
		@include mq(max_md) {
			display: none;
		}
	}
	.block1-right {
		@include mq(max_xs) {
			margin-top: 40px;
		}
		img {
			display: none;
			@include mq(max_md) {
				display: block;
				margin: 0 auto;
			}
		}
	}
}

.block-youare {
	background: $bg_primary;
	padding: 30px 0px;
	.block2-header {
		h5 {
			@include style-font(36px,#fff,600);
			text-align: center;
			line-height: 54px;
			margin-bottom: 30px;
		}
	}
	.block2-body {
		.block-item {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			padding: 25px 0px 20px;
			text-align: center;
			min-height: 220px;
			margin-bottom: 24px;
			transition: all 0.4s ease-in-out;
			cursor: pointer;
			&::before {
				background: linear-gradient(107.91deg, #1A2746 22.88%, #7F283B 100%);
				border-radius: 16px;
				content: "";
				width: 100%;
				height: 100%;
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0.25;
			}

			@include mq(max_xs) {
				min-height: unset;
			}
			&:hover {
				transform: scale(1.1);
			}
			img {
				width: 25%;
				z-index: 10;
			}
			h6 {
				@include style-font(16px,#fff,400);
				line-height: 24px;
				margin-top: 20px;
				width: 85%;
				z-index: 10;
			}
		}
	}
}

.block-marketing {
	background: url('../images/bg-block3.png') no-repeat;
	background-size: contain;
	background-color: $bg_primary;
	width: 100%;
	height: auto;
	padding: 180px 0px;
	background-position: center;
	@include mq(max_md) {
		padding: 80px 0px;
	}
	@include mq(max_xs) {
		background: url('../images/bg-mobile-block3.png') no-repeat;
		background-color: $bg_primary;
		background-size: cover;
    background-position: top;
		padding: 40px 0px 90px;
	}
	.block3-header {
		text-align: center;
		@include mq(max_xs) {
			padding-top: 20px;
		}
		h2 {
			@include style-font(56px,#fff,600);
			text-align: center;
			line-height: 84px;
			margin-bottom: 16px;
			@include mq(max_md) {
				line-height: 54px;
    		font-size: 36px;
			}
			@include mq(max_xs) {
				line-height: 42px;
    		font-size: 28px;
				width: 85%;
				margin: 0 auto;
			}
		}
		p {
			@include style-font(16px,#fff,400);
			width: 85%;
			margin: 0 auto;
			line-height: 24px;
			@include mq(max_xs) {
				margin: 25px auto 50px;
			}
		}
	}
}


.block-promote {
	background: $bg_primary;
	padding-top: 60px;
	@include mq(max_xs) {
		padding-top: 70px;
		overflow: hidden;
	}
	.block4-left {
		h3 {
			display: inline;
			@include style-font(36px,#fff,600);
			line-height: 54px;
			position: relative;
			&::after {
				content: "";
				display: block;
				position: absolute;
				right: -50px;
				transform: translate(0%, -50%);
				width: 35px;
				height: 6px;
				background: $primary;
				bottom: 18px;
			}
		}
		p {
			@include style-font(18px,#fff,400);
			line-height: 27px;
			@include mq(max_xs) {
				margin-top: 15px;
			}
		}
		ul {
			list-style: none;
			padding-left: 0px;
			li {
				@include style-font(18px,#fff,400);
				line-height: 27px;
				padding-left: 36px;
				margin-bottom: 25px;
				position: relative;
				&::before {
					content: "";
					background: url('../images/tick-item.png') no-repeat;
					position: absolute;
					top: 50%;
					left: 0;
					transform: translate(0%, -50%);
					display: block;
					width: 24px;
					height: 24px;
				}
			}
		}
	}
	.block4-right {
		@include mq(max_xs) {
			width: 110%;
		}
		img {
			&.img-desktop {
				margin-bottom: -135px;
				display: block;
				@include mq(max_xs) {
					margin-bottom: 0px;
					display: none;
				}
			}
			&.img-mobile {
				display: none;
				@include mq(max_xs) {
					display: block;
					width: 100%;
					margin: 0px -15px;
				}
			}
		}
	}
}

.block-join {
	background: linear-gradient(107.91deg, #451A59 22.88%, #1A2746 67.74%, #7F283B 100%);
	padding: 100px 0px 50px;
	@include mq(max_xs) {
		padding: 70px 0px 50px;
	}
	.block5-left {
		h3 {
			display: inline-block;
			@include style-font(36px,#fff,600);
			line-height: 54px;
			position: relative;
			&::after {
				content: "";
				display: block;
				position: absolute;
				right: -50px;
				top: 50%;
				transform: translate(0%, -50%);
				width: 35px;
				height: 6px;
				background: $primary;
			}
		}
	}
	.block5-body {
		padding-top: 50px;
		.block5-box {
			@include mq(max_md) {
				display: none;
			}
			.item-box5 {
				justify-content: center;
			}
		}
		.col-lg-4 {
			&:nth-child(n + 4) {
				display: none;
				@include mq(max_md) {
					display: block;
				}
			}
		}
	}
	.block5-item {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			text-align: center;
			margin-bottom: 24px;
			img {
				width: 35%;
			}
			h6 {
				@include style-font(18px,#fff,600);
				line-height: 27px;
				margin-top: 20px;
				@include mq(max_xs) {
					@include style-font(16px,#fff,600);
					line-height: 24px;
				}
			}
			p {
				@include style-font(16px,#718096,400);
				line-height: 24px;
				@include mq(max_xs) {
					@include style-font(14px,#718096,400);
					line-height: 21px;
				}
				span {
					color: $primary;
				}
			}
		}
}