@charset "utf-8";
@import "variables";
@import "mixins";

.footer {
  width: 100%;
  height: auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.85);

  .main-footer {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 34px 0px 42px 0px;

    .footer-logo {
      max-width: 217px;
      height: auto;
      object-fit: cover;
    }

    .footer-description {
      margin-top: 14px;
      max-width: 856px;
      margin: 14px auto 16px;
      text-align: center;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #FFFFFF;
    }

    .contact {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: #FFFFFF;

      .website, .email {
        margin: 0;
        padding: 0;
      }
    }

  }
}


.how-to-do {
  width: 100%;
  height: auto;
  padding: 112px 0px 92px;
  background: linear-gradient(107.91deg, #451A59 22.88%, #1A2746 67.74%, #7F283B 100%);

  .title-wrapper {
    .to-do-title {
      margin: 0;
      padding: 0;
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 54px;
      display: flex;
      align-items: center;
      color: #FFFFFF;
      margin-right: 16px;
      @include mq(max_md) {
        font-size: 28px;
      }
    }

    .dash {
      width: 35px;
      height: 6px;
      border:  none;
      background-color: #F91E4E;
      margin-left: 16px;;
    }
  }

  .list-todo {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 45px 0px 64px;


    .todo-item {
      width: 25%;
      height: auto;
      padding-right: 10px;
      &:last-child {
        padding-right: 0;
      }
      .todo-title {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 24px;

        .number {
          min-width: 52px;
          max-width: 52px;
          min-height: 52px;
          max-height: 52px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-style: normal;
          font-weight: 600;
          font-size: 22px;
          line-height: 33px;
          color: #F91E4E;
          margin-right: 12px;
          border: 1px solid #F91E4E;
          border-radius: 50%;

          @include mq(max_md) {
            min-width: 48px;
            max-width: 48px;
            min-height: 48px;
            max-height: 48px;
          }
        }

        .arrow {
          flex-grow: 1;
          object-fit: cover;

          @include mq(max_md) {
            display: none;
          }
        }

        @include mq(max_md) {
          width: fit-content;
          margin-bottom: 0;
          display: inline-block;;
        }

      }

      .todo-content {
        .label {
          margin: 0;
          padding: 0;
          font-style: normal;
          font-weight: 600;
          font-size: 22px;
          line-height: 33px;
          color: #FFFFFF;
          margin-bottom: 12px;
          max-width: 218px ;
          @include mq(max_md) {
            font-size: 18px;
            line-height: 27px;
            max-width: 269px;
          }
        }

        .description {
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          max-width: 282px;
          color: rgb(160, 174, 192, 0.7);
        }
        @include mq(max_md) {
          display: flex;
          flex-direction: column;
          max-width: 100%;
        }
      }

      .list-contact {
        width: 100%;
        height: auto;
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        margin-top: 16px;
        .contact-item {
          margin-right: 16px;
          &:last-child {
            margin-right: 0;
          }
        }
      }

      &:last-child {
        .arrow {
          display: none;
        }
      }
      @include mq(max_md) {
        width: 100%;
        padding-right: 0;
        margin-bottom: 30px;
        display: flex;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    @include mq(max_md) {
      margin-top: 24px;
    }
  }

  .todo-control {
    display: flex;
    justify-content: center;
    button {
      background: #F91E4E;
      border-radius: 8px;
      border: none;
      cursor: pointer;
      padding: 11px 54px;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
      text-align: center;
      color: #FFFFFF;
      &:focus {
        outline: none;
      }
    }
    @include mq(max_md) {
      display: none;
    }
  }

  @include mq(max_md) {
    padding: 60px 0px 50px;
  }
}

.register-block {
  background: linear-gradient(107.91deg, #451A59 22.88%, #1A2746 67.74%, #7F283B 100%);
  padding: 105px 0px 101px;
  .title-wrapper {
    margin-bottom: 16px;
    .register-title {
      margin: 0;
      padding: 0;
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 54px;
      color: #FFFFFF;
      display: flex;
      align-items: center;
      margin-right: 16px;
      @include mq(max_md) {
        font-size: 28px;
        line-height: 42px;
        max-width: 343px;
      }
    }

    .dash {
      display: inline-block;
      width: 35px;
      height: 6px;
      border:  none;
      background-color: #F91E4E;
      margin-left: 16px;
      @include mq(max_md) {
        margin-left: 0;
      }
    }
    @include mq(max_md) {
      margin-bottom: 12px;
    }
  }

  .register-description {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    margin-bottom: 32px;
    @include mq(max_md) {
      margin-bottom: 24px;
      font-size: 16px;
      line-height: 24px;
    }
  }

  .register-form {
    width: 100%;
    display: flex;
    flex-direction: column;

    .form-line {
      width: 100%;
      display: flex;
      margin-bottom: 16px;
      flex-wrap: wrap;
      .form-item {
        cursor: pointer;
        width: 50%;
        max-width: 512px;
        margin-right: 36px;
        label {
          display: block;
          margin-bottom: 8px;
          cursor: pointer;
          span {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #FFFFFF;
          }
          .required {
            color: #F91E4E;
          }
        }

        input {
          cursor: pointer;
          width: 100%;
          max-width: 510px;
          padding: 10px 16px;
          background: rgb(255, 255, 255, 0.9);
          border-radius: 8px;
          border: none;
          outline: none;
          margin-top: 8px;
          &:focus {
            outline: none;
          }

          &::placeholder {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
          }

        }
        @include mq(max_md) {
          width: 100%;
          margin-right: 0;
          max-width: 100%;
          margin-bottom: 20px;
        }
      }
      @include mq(max_md) {
        margin-bottom: 0;
      }
    }

    .promotion-block {
      width: 100%;
      height: auto;
      margin-top: 48px;
      .form-line {
       .form-item {
          display: block;
          width: 100%;
          max-width: 100%;

          input {
            max-width: 1056px;
          }
       }
      }

      @include mq(max_md) {
        display: none;
      }
    }

    .btn-sign-up {
      background: #F91E4E;
      border-radius: 8px;
      border: none;
      cursor: pointer;
      padding: 10px 80px;
      min-width: 228px;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
      text-align: center;
      color: #FFFFFF;
      margin-top: 39px;
      &:focus {
        outline: none;
      }
    }
  }
  @include mq(max_md) {
    padding: 48px 0px 58px;
  }
}

.faq-block {
  width: 100%;
  background-color: #0F172A;
  padding: 104px 0px 101px;

  .title-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 25px;

    .faq-title {
      margin: 0;
      padding: 0;
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 54px;
      color: #FFFFFF;
      margin-right: 16px;
      @include mq(max_md) {
        font-size: 28px;
        line-height: 42px;
      }
    }

    .dash {
      width: 35px;
      height: 6px;
      border:  none;
      background-color: #F91E4E;
    }
  }

  .faq-wrapper {
    display: flex;
    width: 100%;
    height: auto;
    .faq-content{
      width: 100%;
      max-width: 800px;
      .list-problem {
        .problem-item {
          .collapsible {
            background-color: #0F172A;
            cursor: pointer;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 12px 16px 12px 0px;
            border: none;
            border-bottom: 1px solid rgb(237, 242, 247, 0.1);

            .collapse-title {
              display: flex;
              align-items: center;

              .number {
                font-style: normal;
                font-weight: 400;
                font-size: 36px;
                line-height: 54px;
                color: #E2E8F0;
                margin-right: 22px;

                @include mq(max_md) {
                  font-weight: 400;
                  font-size: 24px;
                  margin-right: 19px;
                }
              }

              .title {
                margin: 0;
                padding: 0;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 27px;
                color: #fff;
                max-width: 670px;

                @include mq(max_md) {
                  line-height: 24px;
                  max-width: 100%;
                  font-size: 16px;
                  line-height: 24px;
                }
              }
            }
            .icon-arrow {
              display: block;
              width: 32px;
              height: 32px;
              min-width: 32px;
              min-height: 32px;

              @include mq(max_sm) {
                display: inline-block;
                margin-left: 19px;
              }
            }

            .collapse-icon {
              .icon-arrow-up {
                display: none;
              }
            }

            @include mq(max_md) {
              padding: 16px 0px;
            }
          }

          .active {
            border: none;
            padding-bottom: 0;
          }

          .active, .collapsible:hover {
          }

          .collapsible:after {
          }

          .active:after {
          }

          .problem-content {
            max-height: 0;
            overflow: hidden;
            max-width: 695px;
            p {
              padding: 16px 40px 30px;
              font-style: normal;
              font-weight: 400;
              font-size: 18px;
              line-height: 23px;
              color: #fff;

              @include mq(max_md) {
                padding: 8px 32px 16px;
                font-size: 16px;
                line-height: 20px;
              }
            }
          }
        }
      }
      @include mq(max_md) {
        max-width: 100%;
      }
    }
    .image-faq {
      flex-grow: 1;
      display: block;
      max-width: 486px;
      max-height: 486px;;
      object-fit: cover;
      height: auto;
      @include mq(max_md) {
        display: none;
      }
    }
  }
  @include mq(max_md) {
    padding: 44px 0px 60px;
  }
}