@charset "utf-8";
@import "variables";
@import "mixins";

.page-price-wrapper {
  width: 100%;
  height: auto;

  .price-banner-wrapper {
    width: 100%;
    height: 430px;
    background-image: url("../images/banner-price-pc.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    @include mq(max_md) {
      background-image: url("../images/banner-price-mb.png");
      height: 550px;
    }

    .price-banner-mask {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(15, 23, 42, 0.8);
    }
    .price-banner-content-wrapper {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      padding: 80px 0px 32px;

      @include mq(max_md) {
        padding: 16px 0px;
      }
    }

    .price-banner-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @include mq(max_md) {
        justify-content: flex-start;
        align-items: flex-start;
      }

      .banner-title {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        /* identical to box height */

        text-transform: uppercase;

        color: #ffffff;
        margin-bottom: 24px;

        @include mq(max_md) {
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 30px;
          /* identical to box height */

          text-transform: uppercase;

          color: #ffffff;
          margin-bottom: 16px;
        }
      }

      .list-benefit {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        @include mq(max_md) {
          gap: 0;
          justify-content: flex-start;
        }
      }

      .benefit-item {
        width: calc((100% - 72px) / 4);
        height: auto;
        padding: 16px 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-attachment: fixed;
        background: rgba(255, 255, 255, 0.05);

        @include mq(max_md) {
          width: 100%;
          margin-bottom: 16px;
          flex-direction: row;
          align-items: center;
          background-color: transparent;
          padding: 0;
          justify-content: flex-start;
          align-items: flex-start;
        }

        .icon {
          min-width: 24px;
          max-width: 24px;
          height: 24px;
          margin-bottom: 16px;

          @include mq(max_md) {
            margin-bottom: 0;
            margin-right: 16px;
          }
        }

        .benefit-title {
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          /* identical to box height */

          text-align: center;

          color: #ffffff;
          margin-bottom: 16px;
          margin: 0;
          padding: 0;

          @include mq(max_md) {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            /* identical to box height */

            color: #ffffff;
          }
        }

        .active {
          font-style: normal;
          color: #fdc400;
          font-weight: 600;
        }
      }
    }
  }
}

.price-list-step-wrapper {
  width: 100%;
  height: auto;
  background-color: rgba(15, 23, 42, 1);
  border: 1px solid red;
  color: #fff;
  padding: 48px 0px 64px;

  @include mq(max_md) {
    padding: 40px 0px 48px;
  }

  .price-list-step-content {
  }

  .step-wrapper {
    width: 100%;
    border: 1px solid;
    display: flex;
    justify-content: flex-start;

    .number {
      min-width: 36px;
      max-width: 36px;
      height: 36px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid white;
      border-radius: 50%;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      /* identical to box height */

      text-align: center;

      color: #ffffff;
      margin-right: 16px;

      @include mq(max_md) {
        min-width: 32px;
        max-width: 32px;
        height: 32px;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        margin-right: 12px;
      }
    }

    .step-title {
      margin: 0;
      padding: 0;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 30px;
      /* identical to box height */

      color: #ffffff;
    }

    .description {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      /* identical to box height */

      /* #FFFFFF */

      color: #ffffff;
      margin-top: 8px;
      margin: 0;
      padding: 0;
    }

    .hightlight {
      color: rgba(249, 30, 78, 1);
    }
  }
}
